# .NET Core
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/


# Archivos de compilación
/publish/

# Archivos de configuración local
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

# Archivos de entorno
*.db
*.db-shm
*.db-wal
*.sqlite