@page "/"
@rendermode InteractiveServer

<PageTitle>TecnoPartes - Componentes de PC y Hardware de Alta Calidad</PageTitle>

<HeadContent>
    <meta name="description" content="Descubre los mejores componentes de PC y hardware de alta calidad en TecnoPartes. Procesadores, tarjetas gráficas, RAM, almacenamiento y más al mejor precio.">
    <link href="./css/landing/header.css" rel="stylesheet" />
    <link href="./css/landing/hero.css" rel="stylesheet" />
    <link href="./css/landing/products.css" rel="stylesheet" />
    <link href="./css/landing/categories.css" rel="stylesheet" />
    <link href="./css/landing/offers.css" rel="stylesheet" />
    <link href="./css/landing/newsletter.css" rel="stylesheet" />
    <link href="./css/landing/footer.css" rel="stylesheet" />
    <link href="./css/landing/landing.css" rel="stylesheet" />
</HeadContent>

<LandingHeader />

<main role="main" id="main-content">
    <LandingHero />
    <LandingProducts />
    <LandingCategories />
    <LandingOffers />
    <LandingNewsletter />
    <LandingFooter />
</main>


