@page "/"
@rendermode InteractiveServer

<PageTitle>TecnoPartes - Componentes de PC y Hardware de Alta Calidad</PageTitle>

<HeadContent>
    <meta name="description" content="Descubre los mejores componentes de PC y hardware de alta calidad en TecnoPartes. Procesadores, tarjetas gráficas, RAM, almacenamiento y más al mejor precio.">
</HeadContent>

<LandingHeader />

<main role="main" id="main-content">
    <LandingHero />
    <LandingProducts />
    <LandingCategories />
    <LandingOffers />
    <LandingNewsletter />
    <LandingFooter />
</main>


